* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-padding-top: 120px;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #070B15;
    color: #f5f6f7;
}

nav {
  background: #070B15dd;
}

nav a {
  text-decoration: none;
}

.nav-link {
  color: #f5f6f7aa;
}

.nav-link:hover {
  color: #f5f6f766;
}

.nav-link:focus {
  color: #f5f6f7;
}

.navbar-toggler {
  color: #f5f6f7aa;
  background-color: #f5f6f766;
}

.mi-boton {
  background: linear-gradient(90deg, #6A357F, #2CC389);
	padding: 8px 24px;
	color: #fafbfc;
	border: none;
  border-radius: 4px;
}

.mi-boton:hover {
	background: linear-gradient(90deg, #6A357Faa, #2CC389aa);
	color: #fafbfcaa;
}

.display-3 {
  font-size: 3.75rem ;
  font-weight: 700;
}

.card {
  background-color: #f5f6f722;
  color: #f5f6f7;
}

.fondo {
  background: linear-gradient(90deg, #6A357F, #2CC389);
}

.btn-outline-light {
  color: #f5f6f7;
}
.btn-outline-light:hover {
  color: #070B15;
  background-color: #f5f6f7;
  border: none;
}

.fs-2 {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #f5f6f7;
}

footer a:hover {
  color: #f5f6f7aa;
}

@media (max-width: 660px) {
	main {
		padding: 0 16px ;
	}
}

@media (max-width: 991px) {
    .container, .container-md, .container-sm {
        max-width: 640px;
    }
    #sobre-mi {
      padding-top: 80px;
    }
}